.info-case {
	padding: 80px 0;
	background: #9ce0d2;
	max-width: 100%;
	overflow: hidden;

	.container {
		position: relative;

		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			width: 303px;
			height: 523px;
			top: -50%;
			bottom: -50%;
			z-index: 0;
			left: -343px;
			margin: auto;
			background: url('~/static/images/bg/about_decore.png') no-repeat center;
		}
	}
	
	.title {
		font-weight: bold;
		font-size: 30px;
		line-height: 1;
		color: #ef6879;
		margin-bottom: 32px;
		cursor: default;
	}

	.text {
		font-size: 18px;
		line-height: 24px;
		color: #515151;
		margin-bottom: -32px;
		cursor: default;

		p {
			margin-bottom: 32px;
		}
	}

	.image {
		height: 100%;

			@extend .d-flex;
			@extend .align-items-center;
	}
}